<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dnp.demoviewpager">

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.CardActivity"></activity>
        <activity android:name=".activity.DepthActivity"></activity>
        <activity android:name=".activity.ZoomAcvitivity"></activity>
        <activity android:name=".activity.SliderActivity"></activity>
        <activity android:name=".activity.ZoomingViewActivity"></activity>
        <activity android:name=".activity.LayoutChangesActivity"></activity>
    </application>

</manifest>